
<div class="container">

        <h2 class="page-title">Create Account</h2>
        <hr>
        


        <form #form="ngForm">
        
            
               <div class="form-group">
                   <label for="admin_email">User Email</label>
                   <input id="admin_email" class="form-control" #user_email="ngModel" type="text" placeholder="user email" [(ngModel)]="entity.Email" name="user_email">
               </div>
              
               <div class="form-group">
                   <label for="password">Passworld</label>
                   <input id="password" class="form-control" type="password" placeholder="user_password" #password="ngModel" [(ngModel)]="entity.Password" name="password">                  
               </div>
            <div class="form-group">
               <div class="row">
                <div class="col-md-4">
                    <button type="button" class="btn btn-secondary disabled form-control" (click)="register()">Submit</button>
                    
                    

                </div>
                <div class="col-md-4">
                        <button type="button" class="btn btn-secondary form-control" (click)="gotoHome()">Cancel</button>
                </div>

               </div>
               
            </div>
           
        </form>

</div>
{{ entity | json }}

